# Build artifacts
.deps
.dirstamp
build/*
!/build/configure.ac
!/build/makefile.am

# Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Sublime Text file
*.sublime-project
*.sublime-workspace

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.pdb

# Xcode files
*.xcodeproj/
*.xcworkspace/

# Other build system files
CMakeCache.txt
CMakeFiles/
.deps
.dirstamp

# Miscellaneous
.metadata_never_index
.DS_Store
*.log
*.swp

# SSL certificate and key
ssl/server.crt
ssl/server.key
