# Build artifacts
build/*
Makefile
Makefile.in

# Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Visual Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.pdb

# Xcode files
*.xcodeproj/
*.xcworkspace/

# Other build system files
CMakeCache.txt
CMakeFiles/

# Miscellaneous
.metadata_never_index
.DS_Store
*.log
*.swp

# SSL certificate and key
ssl/server.crt
ssl/server.key
